# /etc/systemd/system/apply-network.service

[Unit]
Description=Apply network settings from /boot/firmware/network.txt
After=network.target NetworkManager.service
After=network-online.target NetworkManager.service NetworkManager-wait-online.service
Wants=network-online.target NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/apply-network.sh

[Install]
WantedBy=multi-user.target
