# /etc/systemd/system/dvsstart.service

[Unit]
Description=Run dvsstart-runner.sh after boot
After=basic.target
DefaultDependencies=no

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/dvsstart-runner.sh

[Install]
WantedBy=basic.target
